Segmenting and Clustering Neighborhoods in Toronto Assigment part Two

In [28]:
import pandas as pd # library for data analsysis
import numpy as np # library to handle data in a vectorized manner

link = "http://cocl.us/Geospatial_data"
df = pd.read_csv(link)

df.head()

  Postal Code   Latitude  Longitude
0         M1B  43.806686 -79.194353
1         M1C  43.784535 -79.160497
2         M1E  43.763573 -79.188711
3         M1G  43.770992 -79.216917
4         M1H  43.773136 -79.239476

In [29]:

df.shape

(103, 3)

lets Change the column name Postal code to Postcode to merge the two data frames alltogether

In [30]:
df.columns = ['Postcode','Latitude','Longitude']

col = df.columns.tolist()
col

['Postcode', 'Latitude', 'Longitude']

Now its time to read in the CSV file saved in last assignment

In [70]:
link = "https://raw.githubusercontent.com/SAMTAK/Coursera_Capstone/master/df_new1.csv"
df1 = pd.read_csv(link,index_col=0)
df1.head()

  Postcode      Borough                           Neighbourhood
0      M1B  Scarborough                          Rouge ,Malvern
1      M1C  Scarborough  Highland Creek ,Rouge Hill ,Port Union
2      M1E  Scarborough       Guildwood ,Morningside ,West Hill
3      M1G  Scarborough                                  Woburn
4      M1H  Scarborough                               Cedarbrae

Merging the two data frames together based on their Postcode

In [73]:
df_new = pd.merge(df1, df, on='Postcode')
df_new.tail()

,Postcode,Borough,Neighbourhood,Latitude,Longitude
98,M9N,York,Weston,43.706876,-79.518188
99,M9P,Etobicoke,Westmount,43.696319,-79.532242
100,M9R,Etobicoke,"Kingsview Village ,Martin Grove Gardens ,Richv...",43.688905,-79.554724
101,M9V,Etobicoke,"Albion Gardens ,Beaumond Heights ,Humbergate ,...",43.739416,-79.588437
102,M9W,Etobicoke,Northwest,43.706748,-79.594054

In [74]:
df_newdata.to_csv(r'df_final.csv')